[submodule "Source/Imports/Common/yaml-cpp"]
	path = Source/Imports/Common/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Source/Imports/Common/mathfu"]
	path = Source/Imports/Common/mathfu
	url = https://github.com/google/mathfu
[submodule "Source/Imports/Common/benchmark"]
	path = Source/Imports/Common/benchmark
	url = https://github.com/google/benchmark.git
[submodule "Source/Imports/Common/glfw"]
	path = Source/Imports/Common/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Source/Imports/Common/stb"]
	path = Source/Imports/Common/stb
	url = https://github.com/nothings/stb.git
