[submodule "Source/Imports/Common/yaml-cpp"]
	path = Source/Imports/Common/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Source/Imports/Common/glm"]
	path = Source/Imports/Common/glm
	url = https://github.com/g-truc/glm
